@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/abstracts/extends";
@import "../../stylesheets/base/typography";

.form {
  position: relative;
  &:before {
    @extend %pseudo;
    $radius: 3px;
    $spacing: 20px;
    position: absolute;
    top: -3.5rem;
    left: -3.5rem;
    width: 420px;
    height: 250px;
    z-index: -1;
    background-image: radial-gradient(circle at $radius $radius, black $radius, transparent 0);
    background-size: $spacing $spacing;
    opacity: 0.15;
    display: none;
    @include laptop {
      display: block;
    }
    @include desktop {
      width: 500px;
    }
  }
  &__input,
  &__submit {
    @extend %round;
  }
  &__input {
    background: $primary-color-light;
    border: unset;
    width: 100%;
    min-height: 300px;
    &::placeholder {
      opacity: 0.75;
    }
  }
  &__submit {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}
