@import "../../stylesheets/abstracts/breakpoints";
@import "../../stylesheets/abstracts/variables";
@import "../../stylesheets/base/typography";

.table {
  $padding: 1.5rem;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  &__header {
    color: $dark-text;
    font-weight: $semi-bold;
    border-bottom: solid $medium-grey 1px;
    padding: $padding 0;
  }
  &__row {
    &:nth-child(even) {
      background-color: $light-grey;
    }
  }
  &__row,
  &__cell {
    padding: $padding;
  }
  &__cell {
    border: solid $medium-grey 1px;
    &:first-of-type {
      border-left: unset;
    }
    &:last-of-type {
      border-right: unset;
    }
  }
}
